Powerdns Tango

Dear [% name %],

You are receiving this automated email because a password recovery request was made for your Powerdns Tango account.

Login: [% login %]

To reset your password follow this link: [% request.uri_base %]/[% url %]

If you did not initiate a password recovery you may ignore this email.
